<div class="d-flex">

    <div class="sidebar">
        <div class="mb-5 text-center sidebar-header">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTLA994hpL3PMmq0scCuWOu0LGsjef49dyXVg&s"
                class="profile-img" />
            <div class="sidebar-header-text">
                <h4>Jerry</h4>
                <small>Host</small>
            </div>
        </div>
        <nav class="nav flex-column">
            <a class="nav-link">Dashboard</a>
            <a class="nav-link">Tours</a>
            <a class="nav-link active">Bookings</a>
            <a class="nav-link">Reviews</a>
            <a class="nav-link">Payouts</a>
        </nav>
    </div>

    <div class="container py-5 booking">
        <div class="booking-request d-flex flex-wrap">
            <div class="booking-request-text d-flex flex-column flex-wrap">
                <h2 class="fw-bold">New booking request</h2>
                <p class="mt-2 mb-1 fs-5">Private tour of the city's historic district</p>
                <p>Hosted by: Alex</p>
            </div>
            <img src="https://media.istockphoto.com/id/517188688/photo/mountain-landscape.jpg?s=1024x1024&w=0&k=20&c=z8_rWaI8x4zApNEEG9DnWlGXyDIXe-OmsAyQ5fGPVV8="
                class="tour-img ms-sm-auto" alt="Tour photo" />
        </div>

        <h5 class="fw-bold mt-4">Booking details</h5>
        <div class="row booking-detail-row">
            <div class="col-md-6">
                <strong>Date</strong><br />
                July 20, 2024
            </div>
            <div class="col-md-6">
                <strong>Time</strong><br />
                10:00 AM
            </div>
        </div>
        <div class="row booking-detail-row">
            <div class="col-md-6">
                <strong>Guests</strong><br />
                2 guests
            </div>
            <div class="col-md-6">
                <strong>Price</strong><br />
                $150
            </div>
        </div>

        <h5 class="fw-bold mt-4">Guest details</h5>
        <div class="d-flex align-items-center mb-4">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTdQLwDqDwd2JfzifvfBTFT8I7iKFFevcedYg&s"
                alt="Guest photo" class="guest-img me-3" />
            <div>
                <strong>Ethan</strong><br />
                <small>Joined in 2022</small>
            </div>
        </div>

        <h5 class="fw-bold">What's next?</h5>
        <p>You have 24 hours to respond to this request. If you don't respond, the request will
            expire.</p>

        <div class="d-flex gap-3">
            <button class="btn btn-decline px-4">Decline</button>
            <button class="btn btn-accept px-4">Accept</button>
        </div>
    </div>

</div>