.sidebar {
    width: 220px;
    min-height: 100vh;
    border-right: 1px solid #eee;
    padding: 30px 20px;
}

.sidebar .nav-link {
    color: #333;
    font-weight: 500;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.sidebar-header {
    display: flex;
    align-items: center;
}

.sidebar-header-text {
    display: flex;
    flex-direction: column;
    margin-left: 12px;
}

.sidebar .nav-link.active {
    background-color: #f2f4f7;
    border-radius: 10px;
    padding: 10px;
}

.profile-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.tour-img {
    width: 250px;
    border-radius: 10px;
    object-fit: cover;
}

.tour-img img {
    width: 100%;
}

@media (max-width:576px) {
    .container {
        width: 90%;
        margin: 0 auto;
    }

}

.btn-accept {
    background-color: #dbeafe;
    color: #000;
}

.btn-decline {
    background-color: #f3f4f6;
    color: #000;
}

.booking-detail-row {
    border-bottom: 1px solid #eee;
    padding: 10px 0;
}

.guest-img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    object-fit: cover;
}

@media (max-width: 768px) {
    .sidebar {
        display: none;
    }

    .booking {
        width: 100%;
    }
}