<div class="manage-profile mb-4">
    <div class="container">
        <h1 class="mt-5">Profile</h1>
        <p>Manage your personal and professional details</p>
        <h2 class="mt-5">Personal details</h2>
        <label>Full name</label>
        <input type="text" placeholder="Enter Your Name" value="Joe Matt">
        <label>Email</label>
        <input type="text" placeholder="Enter Your Name" value="jmt@gmail.com">
        <label>Password</label>
        <input type="password" placeholder="Enter Your Password" value="12345678">
        <h2 class="mt-5">Professional details</h2>
        <label>Title</label>
        <input type="text" placeholder="Title" value="Senior Tour Guide">
        <label>About</label>
        <textarea rows="10" placeholder="About"></textarea>
        <label>Pricing (USD)</label>
        <input type="number" placeholder="Pricing" value="50">
        <button class="ms-auto mt-5">Save Changes</button>
    </div>
</div>