<!-- Header with Navigation -->
<header>
  <div class="header-container">
    <a href="#" class="logo">
      <img src="/images/logo.svg" alt="Logo">
    </a>

    <!-- Desktop Navigation -->
    <nav class="desktop-nav">
      <ul class="nav-list">
        <li class="nav-item"><a routerLink="/tourist" class="nav-link">Home</a></li>
        <li class="nav-item"><a routerLink="/tourist/dashboard" class="nav-link">DashBoard</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/tour-packages">Packages</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/hotel-reservation">Hotels</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/Tour Guides">Tour Guides</a></li>
      </ul>
    </nav>


    <!-- Mobile Toggle Button -->
    <button class="mobile-toggle" id="mobileToggle" (click)="toggleMenu()">
      <i class="fas" [ngClass]="isMenuActive ? 'fa-times' : 'fa-bars'"></i>
    </button>
  </div>
</header>

<!-- Mobile Menu -->
<div class="mobile-menu" id="mobileMenu" [ngClass]="{'active': isMenuActive}">
  <ul class="mobile-nav-list">
    <li class="mobile-nav-item"><a href="#" class="mobile-nav-link" (click)="closeMenu()">Home</a></li>
    <li class="mobile-nav-item"><a href="#" class="mobile-nav-link" (click)="closeMenu()">About</a></li>
    <li class="mobile-nav-item"><a href="#" class="mobile-nav-link" (click)="closeMenu()">Make Your Trip</a></li>
    <li class="mobile-nav-item"><a href="#" class="mobile-nav-link" (click)="closeMenu()"
        routerLink="/hotel-reservation">Our Hotels</a></li>
    <li class="mobile-nav-item"><a href="#" class="mobile-nav-link" (click)="closeMenu()" routerLink="/Tour Guides">Our
        Tour Guides</a></li>
  </ul>
</div>

<!-- Overlay for Mobile Menu -->
<div class="overlay" id="overlay" [ngClass]="{'active': isMenuActive}" (click)="closeMenu()"></div>
`,