<!-- Start Of Create Package  -->
<div class="create-package pt-5 mb-2">
    <div class="container">
        <h1 class="pt-3">Create New Tour Package</h1>
        <p class="pt-3">Follow the steps below to create a new tour package for your company.</p>
        <div class="package-info pt-3">
            <h2 class="pt-3">Package Information</h2>
            @if(package){
            <form (ngSubmit)="saveData()">
                <label class="mt-4">Package Name</label>
                <input type="text" placeholder="Enter Package Name" [(ngModel)]="package.packageName"
                    name="packageName">
                <label class="mt-5">Package Description</label>
                <textarea rows="10" placeholder="Enter Package Description" [(ngModel)]="package.description"
                    name="description"></textarea>
                <label class="mt-5">Price</label>
                <input type="number" placeholder="Enter Package Price" [(ngModel)]="package.price" name="price">
                <label class="mt-5">Destinations</label>
                <div class="dest-checkboxes">
                    @for (item of destinations; track $index) {
                    <div class="dest-checkbox">
                        <input type="checkbox" name="dest" [checked]="isDestinationChecked(item.destinationId)"
                            (change)="addOrRemoveDestination(item.destinationId,$event)"><label>{{item.location}}</label><br>
                    </div>
                    }
                </div>
                <label class="mt-5">Start Date</label>
                <input type="date" placeholder="Enter Package Start Date" [(ngModel)]="package.startDate!.split('T')[0]"
                    name="startDate">
                <label class="mt-5">End Date</label>
                <input type="date" placeholder="Enter Package End Date" [(ngModel)]="package.endDate!.split('T')[0]"
                    name="endDate">
                <button class="ms-auto">Next</button>
            </form>
            }
        </div>
    </div>
</div>
<!-- End Of Create Package  -->