<!-- tour-guide-register.component.html -->
<div class="container mt-4">
    <div class="card shadow">
        <div class="card-header bg-info text-white">
            <h3 class="mb-0">Tour Guide Registration</h3>
        </div>
        <div class="card-body">
            <form #guideForm="ngForm" (ngSubmit)="onSubmit()">
                <h5 class="mb-3">Personal Information</h5>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="firstName">First Name*</label>
                            <input type="text" class="form-control" id="firstName" name="firstName"
                                [(ngModel)]="model.firstName" required>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="lastName">Last Name*</label>
                            <input type="text" class="form-control" id="lastName" name="lastName"
                                [(ngModel)]="model.lastName" required>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="email">Email*</label>
                            <input type="email" class="form-control" id="email" name="email" [(ngModel)]="model.email"
                                required>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="password">Password*</label>
                            <input type="password" class="form-control" id="password" name="password"
                                [(ngModel)]="model.password" required>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="phoneNumber">Phone Number*</label>
                            <input type="tel" class="form-control" id="phoneNumber" name="phoneNumber"
                                [(ngModel)]="model.phoneNumber" required>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="address">Address*</label>
                            <input type="text" class="form-control" id="address" name="address"
                                [(ngModel)]="model.address" required>
                        </div>
                    </div>
                </div>

                <h5 class="mb-3 mt-4">Professional Information</h5>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="guideName">Guide Name/Nickname*</label>
                            <input type="text" class="form-control" id="guideName" name="guideName"
                                [(ngModel)]="model.guideName" required>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="licenseNumber">License Number*</label>
                            <input type="text" class="form-control" id="licenseNumber" name="licenseNumber"
                                [(ngModel)]="model.licenseNumber" required>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="languages">Languages Spoken*</label>
                            <input type="text" class="form-control" id="languages" name="languages"
                                [(ngModel)]="model.languages" required>
                            <small class="form-text text-muted">Separate languages with commas</small>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="areasCovered">Areas Covered*</label>
                            <input type="text" class="form-control" id="areasCovered" name="areasCovered"
                                [(ngModel)]="model.areasCovered" required>
                            <small class="form-text text-muted">Separate areas with commas</small>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="pricePerHour">Price Per Hour (USD)*</label>
                            <input type="number" class="form-control" id="pricePerHour" name="pricePerHour"
                                [(ngModel)]="model.pricePerHour" required>
                        </div>
                    </div>
                </div>

                <h5 class="mb-3 mt-4">Contact Information</h5>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="contactEmail">Contact Email</label>
                            <input type="email" class="form-control" id="contactEmail" name="contactEmail"
                                [(ngModel)]="model.contactEmail">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="contactPhone">Contact Phone</label>
                            <input type="tel" class="form-control" id="contactPhone" name="contactPhone"
                                [(ngModel)]="model.contactPhone">
                        </div>
                    </div>
                </div>

                <button type="submit" class="btn btn-info btn-block mt-4" [disabled]="!guideForm.valid">
                    Register as Tour Guide
                </button>
            </form>
        </div>
    </div>
</div>