<!-- Start Of DashBoard Text  -->
<div class="dashboard-text">
    <div class="container">
        <h1>DashBoard</h1>
        <p>Welcome Back,{{name}}</p>
    </div>
</div>
<!-- End Of DashBoard Text  -->
<!-- Start Of DashBoard Card  -->
<div class="dashboard-cards mt-5">
    <div class="container">
        <div class="dashboard-card">
            <h2>Total Packages</h2>
            <p>{{numberOfPackages}}</p>
        </div>
        <div class="dashboard-card">
            <h2>Active Bookings</h2>
            <p>{{activeBookingsNumber}}</p>
        </div>
        <div class="dashboard-card">
            <h2>Revenue</h2>
            <p>${{price}}</p>
        </div>
    </div>
</div>
<!-- End Of DashBoard Card  -->
<!-- Start Of Quick Actions  -->
<div class="quick-actions mt-5">
    <div class="container">
        <h3>Quick Actions</h3>
        <div class="actions mt-5">
            <div class="action">
                <a routerLink="/company/new-package">Create New Package</a>
            </div>
            <div class="action">
                <a routerLink="/company/bookings">View Bookings</a>
            </div>
        </div>
    </div>
</div>
<!-- End Of Quick Actions  -->
<!-- Start Of Recent Booking  -->
<div class="recent-booking mb-2">
    <div class="container mt-5">
        <table class="mb-3">
            <tr>
                <th>Package Name</th>
                <th>Total Price</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Actions</th>
            </tr>
            @for (item of packages; track $index) {
            <tr>
                <td data-label="Package Name">
                    <p>{{item.packageName}}</p>
                </td>
                <td data-label="Total Price">
                    <p>{{item.price}}</p>
                </td>
                <td data-label="Start Date">
                    <p>{{item.startDate.split("T")[0]}}</p>
                </td>
                <td data-label="End Date">
                    <p>{{item.endDate.split("T")[0]}}</p>
                </td>
                <td data-label="Actions">
                    <p><a [routerLink]="['/company/edit-package',item.packageId]">
                            Edit
                        </a></p>
                    <p (click)="openDeleteDialog(item.packageId)">Delete</p>
                </td>
            </tr>
            }
        </table>
    </div>
</div>
<!-- End Of Recent Booking  -->