*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a,
img,
span,
input,
button,
ion-icon {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

input,
button {
  background: none;
  border: none;
  font: inherit;
}

input {
  width: 100%;
  outline: none;
}

button {
  cursor: pointer;
}

ion-icon {
  pointer-events: none;
}

address {
  font-style: normal;
}

html {
  font-family: var(--ff-poppins);
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-My-New);
  color: var(--text-granite-gray);
  font-size: var(--fontSize-6);
  line-height: 1.8;
  min-height: 100vh;
  direction: ltr;
  scroll-behavior: smooth;
}

/* REUSED STYLE */
.containerOfConainers {
  padding: 0 20px;
}

.btn {
  display: inline-block;
  padding: 10px 25px;
  border-radius: var(--radius-pill);
  font-weight: var(--weight-semiBold);
  transition: var(--transition-1);
  text-align: center;
  font-size: var(--fontSize-7);
}

.btn-outline {
  background: transparent;
  border: 2px solid var(--bg-majorelle-blue);
  color: var(--bg-majorelle-blue);
}

.btn-outline:hover {
  background: var(--bg-majorelle-blue);
  color: var(--text-white);
}

.btn-primary {
  background: var(--bg-majorelle-blue);
  color: var(--text-white);
  margin-left: 10px;
}

.btn-primary:hover {
  background: var(--bg-ocean-blue);
  box-shadow: var(--shadow-2);
}

.btn-secondary {
  background: var(--bg-red-salsa);
  color: var(--text-white);
}

.btn-secondary:hover {
  background: var(--bg-english-vermillion);
  box-shadow: var(--shadow-3);
}